.bdhd{
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top:  1px solid rgba(0, 0, 0, 0.2) ;
}
.breadcrumb{
    margin-top: 12px;
}

.breadcrumb span,
.breadcrumb__item{
    color: #8c8c8c;
    font-size: 11px;
    font-weight: 500;
}

.breadcrumb__item{
    padding: 0 4px;
    text-decoration: none;
}

.breadcrumb__item:hover{
    color: #8c8c8c;
    text-decoration: underline;
    cursor: pointer;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading__text{
    display: flex;
    align-items: flex-end;
}

.heading__text h2{
    margin: 0;
    font-weight: 500;
    font-size: 28px;
}

.heading__text--check{
    color: #333;
    margin: 0 10px;
    font-size: 14px;
}

.heading__text--check i{
    color: var(--primary-color);
    font-size: 16px;
}

.heading__btn{
    display: flex;
}

.heading__btn--item{
    margin: 0 4px;
    padding-right: 4px;
    font-weight: 300;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.heading__btn--item:last-child{
    border: none;
}

.infor,
.infor__description{
    display: flex;
}

.infor{
    margin-top: 12px;
}

.infor__rate{
    color: #00aa6c;
}

.infor__description--item{
    font-size: 14px ;
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.infor__description--item:first-child{
    font-weight: 500;
    border: none;
}

.heading__btn--item:hover{
    cursor: pointer;
    text-decoration: underline;
}
.Asia{
    display: flex;
}
.Asiaa{
    margin-left: auto;
    display: flex;
}

.navbar-brand{
    height: 40px;
}

.nav-link{
    font-size: 14px;
    color: #000000;
    padding: 12px;
}

.nav-link:hover{
    color: #000;
}

.nav-link:focus{
    color: #000;
    font-weight: 500;
    border-bottom: 2px solid #000;
}
.topct{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.topctt{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.rar{
    border-bottom: 1px solid gray;
}
.food{
    margin-left: auto;
}
.outht {
    background-color: antiquewhite;
    height: 162px;
}
.htl {
    width: 100%;
    height: 162px;
    object-fit: cover;
}
.kids{
    text-align: center;
    display: flex;
    justify-content: center;
}
.uhhu9{
    display: flex;
}
.khnt0{
    margin-left: auto;
}
.poip{
    display: flex;
}
.i1221{
    background: #e0e0e0 none repeat scroll 0 0;
display: inline-block;
height: 10px;
position: relative;
width: 150px;

}
.tru3{
    background: #000000 none repeat scroll 0 0;
display: inline-block;
height: 10px;
border-radius: 2px;
position: absolute;
width: 64.8854961832061%;

}
.kjli{
    display: flex;
}
.ooiu{
    width: 160px;
}
.lhgtd{
    width: 100%;
    height: 50px;
    background-color: gray;
}
.hjtyu{
    margin-left: auto;
}